.carousel img {
    display: inline-block;
    pointer-events: none;
    max-width: 100vw;
    max-height: 50vh;
    object-fit: contain;
}

.carousel .slide {
    background: none;
}
.carousel .slide {
    height: 70% !important;
    padding: 0 28px !important;
}
.carousel .thumbs {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
ul > li {
    line-height: 1.1;
}
